<!DOCTYPE html>
<html>
  <head>
    <title>Biddr!</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
  </head>

  <body>

    <!-- Navigation Bar -->
    <nav class="navbar navbar-fixed-top navbar-inverse">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Biddr</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <% if user_sign_in? %>
            <% current_user = User.find_by_id session[:user_id] %>
            <li><span style="color: white; position: relative; top: 15px;">&nbsp;&nbsp;&nbsp;Hello, <%= current_user.first_name %>!&nbsp;&nbsp;&nbsp; </li></span>
            <li> <%= link_to 'My Bids', user_bids_path(current_user.id) %> </li>
            <li> <%= link_to 'Watched Auctions', user_favorites_path(current_user.id) %> </li>
            <li> <%= link_to 'Create An Auction', new_auction_path %> </li>
            <li><a href="/sessions" data-method = "delete">Sign Out</a></li>
            <% else %>
            <li><a href="/sessions/new">Log In</a></li>
            <li><a href="/users/new">Sign Up</a></li>
            <% end %>
          </ul>

          <ul class="nav navbar-nav bottom-nav">
            <li> <%= link_to 'Auctions List', auctions_path %> </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav><br><br><br>


   <% if flash[:notice] %>
     <div class="flash-notice"><%= flash[:notice] %></div>
   <% elsif flash[:alert] %>
     <div class="flash-alert"><%= flash[:alert] %></div>
   <% end %>

   <%= yield %>

  </body>
</html>
